@model Productos
@{
    DatosProductos producto = new DatosProductos();
    ViewData["Title"] = "Modificar Productos";
    DatosProveedor datos = new DatosProveedor();
    ViewBag.IDProveedor = datos.Proveedores;
    int i = 0;
    <meta charset="UTF-8">
}
<h1>Modificar Productos </h1>
<div class="col-6 ">
    <h5 class="text-primary">Selecciona el Producto</h5>
    <form method="post">
        <select name="opciones" class="form-control">
            <option>Seleccionar</option>
            @foreach (var Data in producto.Productos)
            {

                <option value="@Data.ID"> @Data.ID) @Data.NOMBRE</option>
                @(i++)
            }
        </select>
        <br />
        <div class="text-md-left">
            <button class="btn btn-info" type="submit">Cargar Detalles</button>
        </div>
    </form>
</div>
<br />
<div class="row">
    <div class="col-6 formulario">
        <form method="post" role="form">
            <div class="form-group">
                <h5>Codigo</h5>
                <input id="ID" asp-for="ID" class="form-control" value="@ViewData["Codigo"]" readonly required />
            </div>
            <div class="form-group">
                <h5>Nombre</h5>
                <input class="form-control" asp-for="NOMBRE" value="@ViewData["Nombre"]" Required />
            </div>
            <div class="form-group">
                <h5>Descripcion</h5>
                <input class="form-control" asp-for="DESCRIPCION" value="@ViewData["descripcion"]" Required />
            </div>
            <div class="form-group">
                <h5>Fecha de Vencimiento</h5>
                <input class="form-control" value="@ViewData["FechaVenc"]" asp-for="FECHA_VENC" type="date" Required />
            </div>
            <div class="form-group">
                <h5>Nombre del Proveedor</h5>
                <select asp-for="ID_PROVEEDOR" class="form-control" required>

                    @foreach (var Datos in (List<Proveedores>)ViewBag.IDProveedor)
                    {
                        <option value="@Datos.ID">@Datos.ID) @Datos.NOMBRE </option>
                    }
                </select>
            </div>
            <button type="submit" name="Save" value="save" class="btn btn-success">Guardar Cambios</button>
        </form>
    </div>


</div>

